[Unit]
Description=OBD-Cortex Edge Service (FastAPI)
After=network.target

[Service]
User=edge-service
Group=edge-service
WorkingDirectory=/home/edge-service/Edge-Service
Environment="PATH=/home/edge-service/Edge-Service/venv/bin"
ExecStart=/home/edge-service/Edge-Service/venv/bin/uvicorn src.main_api:app --host 127.0.0.1 --port 8000 --workers 4

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
